# Dependências
node_modules/

# Build
dist/

# Arquivos de ambiente
.env
.env.local
.env.production

# Logs
*.log

# Editor
.vscode/
.idea/
*.suo
*.user

# Sistema
.DS_Store
Thumbs.db

# Arquivo comprimido grande
*.rar
